{% load static %}
<!-- About Start -->
<div class="container-fluid bg-secondary p-0">
    <div class="row g-0">
        <div class="col-lg-6 py-6 px-5">
            <h1 class="display-5 mb-4">BİTİRME TEZLERİ SATIŞ OFİSİNE <span class="text-primary">HOŞGELDİNİZ</span></h1>
            <h4 class="text-primary mb-4">Satış ve pazarlama ile ilgilenen insanların her gün motivasyona ihtiyacı vardır.</h4>
            <p class="mb-4">Çünkü her gün onlarca, hatta yüzlerce insanla görüşüyorlar. Ve bu insanların çok büyük bir bölümü negatif düşüncededir. Bu müşterilerle görüşme için olduğu kadar, ekipleri için de geçerli bir süreçtir. Aynı zamanda ekip arkadaşlarını da motive etmek zorundadırlar.</p>
            <a href="" class="btn btn-primary py-md-3 px-md-5 rounded-pill">Fiyat Teklifi Al</a>
        </div>
        <div class="col-lg-6">
            <div class="h-100 d-flex flex-column justify-content-center bg-primary p-5">
                <div class="d-flex text-white mb-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-auto mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-user-tie fs-4"></i>
                    </div>
                    <div class="ps-4">
                        <h3>İş planlaması</h3>
                        <p class="mb-0">Zaman tasarrufu yapmanın en iyi yollarından biri, önceden düşünmek ve plan yapmaktır. Beş dakikalık düşünme, genelde bir saatlik iş tasarrufu sağlar.

                        </p>
                    </div>
                </div>
                <div class="d-flex text-white mb-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-auto mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-chart-line fs-4"></i>
                    </div>
                    <div class="ps-4">
                        <h3>Finansal Analiz</h3>
                        <p class="mb-0">Bir şeyin fiyatı, aslında o şey için takas ettiğiniz hayatın fiyatıdır.</p>
                    </div>
                </div>
                <div class="d-flex text-white">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white text-primary rounded-circle mx-auto mb-4" style="width: 60px; height: 60px;">
                        <i class="fa fa-balance-scale fs-4"></i>
                    </div>
                    <div class="ps-4">
                        <h3>Danışmanlık</h3>
                        <p class="mb-0">Danışın ve danıştığınız kişinin görüşlerini kendi görüşlerinizle birleştiriniz ki, doğru ortaya çıksın.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Services Start -->
<div class="container-fluid pt-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 mb-0">TEKLİFİMİZ</h1>
        <hr class="w-25 mx-auto bg-primary">
    </div>
    <div class="row g-5">
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-user-tie fa-2x"></i>
                </div>
                <h3 class="mb-3">İş Araştırması</h3>
                <p class="mb-0"></p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-chart-pie fa-2x"></i>
                </div>
                <h3 class="mb-3">Stratejik Planlama</h3>
                <p class="mb-0"></p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-chart-line fa-2x"></i>
                </div>
                <h3 class="mb-3">Market Araştırması</h3>
                <p class="mb-0"></p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-chart-area fa-2x"></i>
                </div>
                <h3 class="mb-3">Finansal Analiz</h3>
                <p class="mb-0"></p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-balance-scale fa-2x"></i>
                </div>
                <h3 class="mb-3">yasal danışmanlık</h3>
                <p class="mb-0"></p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="service-item bg-secondary text-center px-5">
                <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                    <i class="fa fa-house-damage fa-2x"></i>
                </div>
                <h3 class="mb-3">Vergi ve Sigorta</h3>
                <p class="mb-0"></p>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->


<!-- Features Start -->
<div class="container-fluid py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 mb-0">Neden Bizi Seçmelisiniz!!!</h1>
        <hr class="w-25 mx-auto bg-primary">
    </div>
    <div class="row g-5">
        <div class="col-lg-4">
            <div class="row g-5">
                <div class="col-12">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-cubes fs-4 text-white"></i>
                    </div>
                    <h3>Sektörün En İyisi</h3>
                    <p class="mb-0"></p>
                </div>
                <div class="col-12">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-percent fs-4 text-white"></i>
                    </div>
                    <h3>%99 Başarı Oranı</h3>
                    <p class="mb-0"></p>
                </div>
                <div class="col-12">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-award fs-4 text-white"></i>
                    </div>
                    <h3>Ödüllü</h3>
                    <p class="mb-0"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-block bg-primary h-100 text-center">
                <img class="img-fluid" src="{%static 'img/feature.jpg'%}" alt="">
                <div class="p-4">
                    <p class="text-white mb-4"></p>
                    <a href="" class="btn btn-light py-md-3 px-md-5 rounded-pill mb-2">Daha fazla bilgi edin</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row g-5">
                <div class="col-12">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="far fa-smile-beam fs-4 text-white"></i>
                    </div>
                    <h3>%100 Mutlu Müşteri</h3>
                    <p class="mb-0"></p>
                </div>
                <div class="col-12">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-user-tie fs-4 text-white"></i>
                    </div>
                    <h3>Profesyonel Danışmanlar</h3>
                    <p class="mb-0"></p>
                </div>
                <div class="col-12">
                    <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-headset fs-4 text-white"></i>
                    </div>
                    <h3>7/24 Müşteri Desteği</h3>
                    <p class="mb-0"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Start -->


<!-- Quote Start -->
<div class="container-fluid bg-secondary px-0">
    <div class="row g-0">
        <div class="col-lg-6 py-6 px-5">
            <h1 class="display-5 mb-4">Ücretsiz Fiyat Teklifi İste</h1>
            <p class="mb-4"></p>
            <form>
                <div class="row gx-3">
                    <div class="col-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="form-floating-1" placeholder="Veli Kalkan">
                            <label for="form-floating-1">Ad Soyad</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="form-floating-2" placeholder="name@example.com">
                            <label for="form-floating-2">E-posta adresi</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" aria-label="----">
                                <option selected>Mali Danışmanlık</option>
                                <option value="1">Strateji Danışmanlığı</option>
                                <option value="2">Vergi Danışmanlığı</option>
                            </select>
                            <label for="floatingSelect">Bir Hizmet Seçin</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary w-100 h-100" type="submit">Bir Teklif İsteği</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6" style="min-height: 400px;">
            <div class="position-relative h-100">
                <img class="position-absolute w-100 h-100" src="{%static 'img/quote.jpg'%}" style="object-fit: cover;">
            </div>
        </div>
    </div>
</div>
<!-- Quote End -->


<!-- Team Start -->
<div class="container-fluid py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 mb-0">Ekip Üyelerimiz</h1>
        <hr class="w-25 mx-auto bg-primary">
    </div>
    <div class="row g-5">
        <div class="col-lg-4">
            <div class="team-item position-relative overflow-hidden">
                <img class="img-fluid w-100" src="{%static 'img/team-1.jpg'%}"alt=""> 
                <div class="team-text w-100 position-absolute top-50 text-center bg-primary p-4">
                    <h3 class="text-white">Veli Kalkan</h3>
                    <p class="text-white text-uppercase mb-0">IT Mühendisi</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="team-item position-relative overflow-hidden">
                <img class="img-fluid w-100" src="{%static 'img/team-2.jpg'%}"alt="">
                <div class="team-text w-100 position-absolute top-50 text-center bg-primary p-4">
                    <h3 class="text-white">Sıddık Kalkan</h3>
                    <p class="text-white text-uppercase mb-0">İş İnsanı</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="team-item position-relative overflow-hidden">
                <img class="img-fluid w-100" src="{%static 'img/team-3.jpg'%}" alt="">
                <div class="team-text w-100 position-absolute top-50 text-center bg-primary p-4">
                    <h3 class="text-white">İbrahim Kalkan</h3>
                    <p class="text-white text-uppercase mb-0">CEO</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-fluid bg-secondary p-0">
    <div class="row g-0">
        <div class="col-lg-6" style="min-height: 500px;">
            <div class="position-relative h-100">
                <img class="position-absolute w-100 h-100" src="{%static 'img/testimonial.jpg'%}" style="object-fit: cover;">
            </div>
        </div>
        <div class="col-lg-6 py-6 px-5">
            <h1 class="display-5 mb-4">Müşterimiz Ne Diyor!!!</h1>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item">
                    <p class="fs-4 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i></p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle" src="{%static 'img/testimonial-1.jpg'%}" alt="">
                        <div class="ps-4">
                            <h3>Kadir Portakal</h3>
                            <span class="text-uppercase">Gardiyan</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item">
                    <p class="fs-4 fw-normal mb-4"><i class="fa fa-quote-left text-primary me-3"></i></p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded-circle" src="{%static 'img/testimonial-2.jpg'%}" alt="">
                        <div class="ps-4">
                            <h3>Zehra Kalkan
                            </h3>
                            <span class="text-uppercase">Öğretmen</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<!-- Blog Start -->
<div class="container-fluid py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 mb-0">En Son Blog Gönderisi</h1>
        <hr class="w-25 mx-auto bg-primary">
    </div>
    <div class="row g-5">
        <div class="col-lg-4">
            <div class="blog-item">
                <div class="position-relative overflow-hidden">
                    <img class="img-fluid" src="{%static 'img/blog-1.jpg'%}" alt="">
                </div>
                <div class="bg-secondary d-flex">
                    <div class="flex-shrink-0 d-flex flex-column justify-content-center text-center bg-primary text-white px-4">
                        <span>01</span>
                        <h5 class="text-uppercase m-0">Ocak</h5>
                        <span>2045</span>
                    </div>
                    <div class="d-flex flex-column justify-content-center py-3 px-4">
                        <div class="d-flex mb-2">
                            <small class="text-uppercase me-3"><i class="bi bi-person me-2"></i>Yönetici</small>
                            <small class="text-uppercase me-3"><i class="bi bi-bookmarks me-2"></i>Web Tasarımı</small>
                        </div>
                        <a class="h4" href=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="blog-item">
                <div class="position-relative overflow-hidden">
                    <img class="img-fluid" src="{%static 'img/blog-2.jpg'%}" alt="">
                </div>
                <div class="bg-secondary d-flex">
                    <div class="flex-shrink-0 d-flex flex-column justify-content-center text-center bg-primary text-white px-4">
                        <span>01</span>
                        <h5 class="text-uppercase m-0">Ocak</h5>
                        <span>2023</span>
                    </div>
                    <div class="d-flex flex-column justify-content-center py-3 px-4">
                        <div class="d-flex mb-2">
                            <small class="text-uppercase me-3"><i class="bi bi-person me-2"></i>Yönetici</small>
                            <small class="text-uppercase me-3"><i class="bi bi-bookmarks me-2"></i>Web Tasarımı</small>
                        </div>
                        <a class="h4" href=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="blog-item">
                <div class="position-relative overflow-hidden">
                    <img class="img-fluid" src="{%static 'img/blog-3.jpg'%}" alt="">
                </div>
                <div class="bg-secondary d-flex">
                    <div class="flex-shrink-0 d-flex flex-column justify-content-center text-center bg-primary text-white px-4">
                        <span>01</span>
                        <h5 class="text-uppercase m-0">Ocak</h5>
                        <span>2023</span>
                    </div>
                    <div class="d-flex flex-column justify-content-center py-3 px-4">
                        <div class="d-flex mb-2">
                            <small class="text-uppercase me-3"><i class="bi bi-person me-2"></i>Yönetici</small>
                            <small class="text-uppercase me-3"><i class="bi bi-bookmarks me-2"></i>Web Tasarımı</small>
                        </div>
                        <a class="h4" href=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->